:root {
  --circle-fill: rgba(187, 187, 187, 0.58);
  --circle-fill-dark: rgba(170, 170, 170, 0.58);
  --circle-fill-green: rgb(25, 175, 73);
  --circle-fill-red: rgb(215, 68, 41);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 100%;
  background: var(--circle-fill);

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
}

.circle:nth-child(odd) {
  background: var(--circle-fill-dark);
}

.circle.green {
  background: var(--circle-fill-green);
}

.circle.red {
  background: var(--circle-fill-red);
}
